body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.form-group.required .control-label:after{
   color: red;
   content: "*";
   position: absolute;
   margin-left: 8px;
    font-size: 18px;
}

.green-box {
-webkit-box-shadow: 2px 1px 4px 1px rgba(92, 184, 92, 1);
-moz-box-shadow: 2px 1px 4px 1px rgba(92, 184, 92, 1);
box-shadow: 2px 1px 4px 1px rgba(92, 184, 92, 1);
border: 1px solid #5cb85c;
padding-bottom: 30px;
    background-color: #f7f7f7;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-register {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.logo-name {
    /*color: #e6e6e6;*/
    color: #5cb85c;
    font-size: 180px;
    font-weight: 800;
    margin-bottom: 0;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top: 70px;
  padding: 0 !important;
}
.carousel-control{
    z-index: 1000000;
}
.carousel a{
  text-decoration: none;
  color: inherit;
}

.carousel .container{
  padding: 0 !important;
  background-color: #ffffe6;
}

.carousel-indicators{
  left: 25%;
  width: 40%;
  margin-left: -20%;
}

.carousel-indicators li{
  border-color: #000;
}

.carousel-indicators .active{
  background-color: #000;
}
/* Since positioning the image, we need to help out the caption */
.carousel-text {
  z-index: 10;
  position: relative;
  float: left;
  /*margin-left: 15%;
  max-width: 85%;*/
  width: 100%;
  left: 0;
  text-align: center;
}

.carousel-text > h3{
  background-color: #e65c00;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5em;
}

.carousel-text > h1{
  color: #000;
  font-weight: bold;
  margin-top: 1em !important;
  margin: 0;
  padding: 0.5em;
}

.carousel .rating-stars{
  width: 50%;
  margin-left: 25%;
  padding: 0;
  margin-top: 1em;
}

.carousel .rating-stars li{
  display: inline-block;
}

.carousel .rating-stars li{
  background-color: #e65c00;
}

.carousel .rating-stars li:before{
   content: "\2605";
  color: #e65c00;
  font-size: 20px;
  padding: 0 5px;
}

.carousel .rating-stars li.full-star:before{
  content: "\2605";
  color: #fff;
  font-size: 20px;
  padding: 0 5px;
}

.carousel .rating-text {
  margin-top: 1em;
  color: #e65c00;
  font-size: 25px;
}

.carousel .description{
  margin-top: 3em;
}

.carousel .author{
  width: 70%;
  margin-left: 25%;
  text-align: left;
  margin-top: 2em !important;
}

.carousel .author img{
  width: 20%;
  height: 20%;
  display: inline-block;
}

.carousel .author p{
  width: 50%;
  margin: 0;  
  padding: 0;
  display: inline-block;
}

.carousel .author span{
  font-weight: bold;
  color: #000;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  width: 50%;
  float: right;
  height: 500px;
}

.carousel-inner > .item > .container {
  float: left;
  width: 50%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 768px) {
   .navbar-wrapper .navbar {
      background-color: #008000 !important;
      border: none;
    }
}
@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /*margin-top: 20px;*/
    background-color: #008000;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0 !important;
  background-color: #008000 !important;
  border: none;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 630px){
  .carousel{
    max-height: 450px;
  }
  .carousel-inner > .item > .container {
    height: auto;
    max-height: 450px;
  }
  .carousel .item{
    height: auto;
  }
  .carousel .item img{
    width: 100%;
    max-height: 330px;
  }
  .carousel .item .container {
    width: 100%;
  }
  .carousel .item .container h3{
    padding: 0.5em;
    font-size: 1em;
    letter-spacing: 0.5em;
  }
  .carousel .item .container h1{
    margin-top: 0 !important;
    font-size: 2em;
  }
  .carousel .item .container .bottom{
    display: none;
  }
  .carousel-indicators {
    display: block;
    position: relative;
    left: 50%;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media (max-width: 600px){
  .col-lg-4 {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
  }
}

@media (min-width: 600px){
  .col-lg-4 {
    width: 44%;
    margin-left: 4%;
    margin-bottom: 2%;
  }
}

@media (min-width: 1200px){
  .col-lg-4 {
    width: 31%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
}

 /*CUSTOM CODE 
#myNavbar, nav.navbar-inverse{
  margin-bottom: 0 !important;
  background-color: #008000 !important;
  border: none;
}

nav li.active > a{
  background-color: #004d00 !important;
}*/

.recipe {
  border: 2px solid #333;
  padding: 0;
  text-align: justify;
}

.recipe img{
  width: 100%;
}

.recipe .time img {
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.recipe .time{
  display: inline-block;
  width: 45%;
  line-height: 16px;
  font-size: 16px;
  padding-left: 5%;
  text-align: left;
  margin: 0.7em 0;
  font-weight: bold;
}

.recipe .skills{
  display: inline-block;
  width: 45%;
  line-height: 16px;
  font-size: 16px;
  padding-right: 5%;
  text-align: right;
  margin: 0.7em 0;
  font-weight: bold;
}

.recipe .skills.easy{
  color: #008000;
}

.recipe .skills.medium{
  color: #e65c00;
}

.recipe .skills.hard{
  color: red;
}

.recipe h2{
  margin-top: 1em;
  /*float: left;*/
  text-align: center;
  width: 90%;
  padding: 0 5%;
}

.recipe p{
  /*float: left;*/
  width: 90%;
  padding: 0 5%;
  text-align: justify;
}

.recipe a{
  text-decoration: none;
  color: inherit;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.madeBy span{
  text-align: left;
}


/*.navbar-default {
  background-color: #5cb85c;
  border-color: #27ae60; }
a.navbar-brand .btn-submit {
  color: #ecf0f1; }
.navbar-brand :hover, :focus {
  color: #d1ffed; }
.navbar-nav >li >a {
  color: #ecf0f1; }
.navbar-nav >li >a :hover, :focus {
  color: #d1ffed;   }
.active > a, a:hover, a:focus {
  color: #d1ffed;
  background-color: #27ae60; }
.open > a > a:hover > a:focus{

  color: #d1ffed;
  background-color: #27ae60; }
.caret {
  border-top-color: #d1ffed;
  border-bottom-color: #d1ffed; }
.dropdown  > a .caret {
  border-top-color: #ecf0f1;
  border-bottom-color: #ecf0f1; }

.caret :hover, :focus {
  border-top-color: #d1ffed;
  border-bottom-color: #d1ffed; }
.navbar-toggle {
  border-color: #27ae60;}
.navbar-toggle  :hover,:focus {
  background-color: #27ae60; }
.navbar-toggle  :hover,:focus .icon-bar {
  background-color: #ecf0f1; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #000000; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a :hover, :focus {
  color: #d1ffed;
  background-color: #27ae60; }
.navbar-nav{
  font-size: 18px;
}
.top-buffer
{
    margin-top:100px;
}*/