.admin.container{
  margin-top: 4em;
}

.rating-score{
  background-color: #5cb85c;
  border-radius: 5px;
  padding: 0.5em;
  color: #fff;
}

.vertical-middle{
	float: none;
	display: inline-block !important;
	vertical-align: middle;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-nav{
    font-size: 18px;
}
.navbar-default {
    background-color: #5cb85c;
    border-color: #27ae60; }
a.navbar-brand .btn-submit {
    color: #ecf0f1; }
.navbar-brand :hover, :focus {
    color: #d1ffed; }
.navbar-nav >li >a {
    color: #ecf0f1; }
.navbar-nav >li >a :hover, :focus {
    color: #d1ffed;   }
.active > a, a:hover, a:focus {
    color: #222222;
    background-color: #27ae60; }
.open > a > a:hover > a:focus{

    color: #d1ffed;
    background-color: #27ae60; }
.caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed; }
.dropdown  > a .caret {
    border-top-color: #ecf0f1;
    border-bottom-color: #ecf0f1; }

.caret :hover, :focus {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed; }
.navbar-toggle {
    border-color: #27ae60;}
.navbar-toggle  :hover,:focus {
    background-color: #27ae60; }
.navbar-toggle  :hover,:focus .icon-bar {
    background-color: #ecf0f1; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000; }
.navbar-default .navbar-nav .open .dropdown-menu > li > a :hover, :focus {
    color: #d1ffed;
    background-color: #5cb85c; }
	
	
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
